@model IEnumerable<Student>

@{
    ViewData["Title"] = "About";
}

<h2>About Us!</h2>

<h4>The Story...</h4>
<p>One day, a pair of teachers who were fed up with their classes constantly being 
    interrupted by administration looking for students not in their room, decided to create an application
    to mitigate the distraction and achieve efficiency throughout the school.</p>

