@model IEnumerable<StudentFinder.Models.Student>

@{
    ViewData["Title"] = "Contact";
}

<h2>Contact Us!</h2>


<p>Andrew and Joel</p>
<p>000-000-0000</p>
<address>110 Houston Street, San Antonio, TX 78205</address>

