

<h1 class="text-center">Thanks for visiting StudentFinder.com!</h1>
<p class="text-center">Here you'll find the solution for all those times when you wanted to know what classroom 
    a student was in, but had no way to do so without bothering a hard-working teacher.
</p>
<br/>
<p class="text-center">Login and see what a difference efficiency makes!</p>